.footcont {
  /*
  display: flex;
  flex-direction: column;
  gap: 20px;
  */
  width: 90%;
  max-width: 600px;
  margin: 0;
  background-color: var(--crdr-bgc-dark1);
}

.footlink { 
  /* display: block; */
  padding: 0;
}

.footlink img {
  object-fit: contain;
  vertical-align: middle;
}
